.lang {
    display: flex;
}

nav {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

nav::-webkit-scrollbar {
    display: none;
}

li {
    font-size: 15px;
    flex-shrink: 0;
    cursor: pointer;
}

.all-cats {
    font-size: 14px;
}

.sub-lists {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 40;
    overflow: auto;
    overflow-y: hidden;
}

.sub-lists::-webkit-scrollbar {
    display: none;
}

body {
    padding-top: 104px;
}

@media (max-width: 767px) {
    .location-search {
        display: none;
    }

    .location {
        display: none;
    }
}

@media (max-width: 458px) {
    .main-search {
        display: none;
    }

    nav {
        justify-content: space-between;
    }
}

nav {
    justify-content: space-between;
    flex-wrap: nowrap;
}

.main-search input {
    max-width: 1200px;
}